p {
  font-size: 1.6rem;
}

h1 {
  font-size: 6rem;
}

.weather {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: rgba(0,0,0,0.4);
  color: #fff;
}

.weather:before {
  content: '';
  background: url(./sunset.jpeg) no-repeat center center/cover;
  position: absolute;
  width: 100%;
  height: 1200px;
  top: 0;
  left: 0;
  z-index: -1;
}

.weather .search {
  text-align: center;
  padding: 1rem;
}

.weather input {
  padding: .7rem 1.5rem;
  font-size: 1.2rem;
  border-radius: 25px;
  border: 1px solid rgba(255,255,255, 0.8);
  background: rgba(255,255,255, 0.1);
  color: #f8f8f8;
}

::placeholder {
  color: #f8f8f8;
}

.container {
  max-width: 700px;
  height: 700px;
  margin: auto;
  padding: 0 1rem;
  position: relative;
  top: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.weather .top {
  width: 100%;
  margin: 1rem auto;
}

.weather .description {
  position: relative;
  right: -50%;
  transform-origin: 400 0;
  transform: rotate(269deg);
}

.weather .bottom {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 100%;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 12px;
  background-color: rgba(255,255,255, 0.2);
}

.bold {
  font-weight: 700;
}

/* Add these styles to the end of your existing Weather.css file */

.forecast{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: -50%;
}

.weather .forecast-card {
    background-color: rgba(255, 255, 255, 0.2);
    /* padding: 1rem;
    margin: 1rem 0; */
    margin-left: 100px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .weather .unit-toggle {
    text-align: center;
    margin-top: 1rem;
  }
  
  .weather .unit-toggle button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 5px;
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
  }
  
  /* Media query for responsive design */
  @media (max-width: 600px) {
    h1 {
      font-size: 4rem;
    }
  
    .weather .container {
      top: 20%;
    }
  
    .weather .forecast-card {
      font-size: 0.9rem;
    }
  }
  